<a href="https://colab.research.google.com/github/radhakrishna1435/ML_23AG1A66E4/blob/main/data_processing2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['John', 'Alice'],
    'Age': ['25', '30'],
    'Salary': ['50000', '55000']
})
print(df.dtypes)

Name      object
Age       object
Salary    object
dtype: object

In [3]:
df['Age'] = df['Age'].astype(int)
df['Salary'] = df['Salary'].astype(float)
print(df.dtypes)

Name       object
Age         int64
Salary    float64
dtype: object

In [33]:
import pandas as pd
df=pd.read_csv('/content/STUDENT DATA.csv')
print(df)

    Name   age gender  marks     city
0  ailce  18.0      F   85.0   London
1    bob   NaN      M   90.0  Newyork
2  cathy  19.0      F   99.0      NaN
3  david  17.0      M   72.0   Sydney
4    eva  18.0      F    NaN   London

In [36]:
df = pd.get_dummies(df,columns=['city'])
print(df)

    Name   age gender  marks  city_London  city_Newyork  city_Sydney
0  ailce  18.0      F   85.0         True         False        False
1    bob   NaN      M   90.0        False          True        False
2  cathy  19.0      F   99.0        False         False        False
3  david  17.0      M   72.0        False         False         True
4    eva  18.0      F    NaN         True         False        False